@model IEnumerable<OnlineExam.Domain.Core.Courses.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="main-title">درس ها </h1>


<div class="row">
    @if (User.IsInRole("admin"))
    {
        <div>
            <a asp-action="Create">ایجاد درس جدید </a>
        </div>
        <table class="table col-md-6">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>

                            <a href=@Url.ActionLink( "Index", "Exam", new { courseId = item.Id }, null) > list</a>|
                               @Html.ActionLink("Add", "Create", "Exam", new { courseId = item.Id }, null)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary d-inline-block"><i class="fa fa-edit"></i></a>

                            <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                <button type="submit" class="btn btn-danger" onclick="return functionConfirm(@item.Id)">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>

                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a href=@Url.Action("Index", "Exam", new { courseId = item.Id }, null) >لیست ازمون</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<script>
    function functionConfirm(id) {
        swal({
            title: 'از حذف درس مطمئن هستید؟',
            text: false,
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'خیر',
            cancelButtonClass: 'btn btn-danger',
            showConfirmButton: true,
            confirmButtonText: 'بله',
            confirmButtonClass: 'btn btn-success'
        }, function (isConfirm) {
            if (isConfirm) {
                window.location.href = '/Course/Delete/' + id;
            }
            else {
                return false;
            }
        });
        return false;
    }
</script>
