@model IEnumerable<OnlineExam.Domain.Core.ExamQuestions.ExamQuestion>
@{ OnlineExam.Domain.Core.Exams.Exam exams = ViewBag.Exam;}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<hr />

<span class="courselable"> امتحان : </span>
<span class="coursename">@exams.Name</span>
<hr />

<a href="@Url.Action("AddQuestion", "ExamQuestion" ,new {examId=  exams.Id })" class="btn main-btn">
    <i class="fa fa-plus" aria-hidden="true"> </i>  اضافه کردن سوال
</a>


<table class="table">
    <thead>
        <tr>

            <td>
                @Html.DisplayNameFor(model => model.Question.Text)
            </td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Question.Text)
                </td>
                <td>
                    @{
                        var choices = item.Question.QuestionChoices.Select(x => x.Choice);
 
                        int i = 1;
                        foreach (var choice in choices)
                        {

                            <div>@i- @choice.Text</div>
                            <span>@choice.IsCorrect</span>
                            i = i + 1;
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
