@model IEnumerable<OnlineExam.Endpoint.WebUI.Models.Exams.ExamResultsViewModel>

@{
    ViewData["Title"] = "ExamResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="main-title">لیست آزمون های داده شده </h1>
<hr />

<div class="">
    <table class="table border">
        <thead class="thead">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Score)
                </th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>