
<div class="row  d-flex justify-content-center align-items-center ">
    <div class="col-md-10  p-3 text-justify">
        @{
            ViewData["Title"] = "نتایج آزمون";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }

        <h1 class="main-title">لیست آزمون های داده شده </h1>
        <hr style="border-top:1px solid white"/>

        <table id="resultForUserTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>نام آزمون</th>
                    <th>نام درس</th>
                    <th>امتیاز</th>
                    <th>تاریخ </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


@*@model IEnumerable<OnlineExam.Endpoint.WebUI.Models.Exams.ExamResultsViewModel>

@{
    ViewData["Title"] = "نتایج آزمون";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="main-title">لیست آزمون های داده شده </h1>
<hr />

<div class="">
    <table class="table border">
        <thead class="thead">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Score)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@

























