@model IEnumerable<OnlineExam.Endpoint.WebUI.Models.Exams.ExamResultsViewModel>

@{
    ViewData["Title"] = "نتایج آزمون";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="main-title">لیست آزمون های داده شده </h1>
<hr />

<div class="">
    <table class="table border">
        <thead class="thead">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Score)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
            </tr>
            }
        </tbody>
    </table>
    </div>