@model OnlineExam.Endpoint.WebUI.Models.Exams.TakeExamViewModel


<div>Time left = <span id="timer"></span></div>


<div class="row  d-flex justify-content-center align-items-center ">
    <div class="col-md-5 shadow p-5">
        <form asp-action="TakeExam">

            <input type="hidden" asp-for="@Model.ExamId" value="@Model.ExamId">

            @{int i = 0;
                int num = 1;
                @foreach (var item in Model.Questions)
                {

                    <div class="mb-2"> <span>  @num- </span>@item.Text</div>
                    var choices = item.QuestionChoices.Select(c => c.Choice);

                    @foreach (var choice in choices)
                    {
                        <input type="checkbox" asp-for="Answers[i].IsSelected">
                        <Lable>  @choice.Text</Lable>
                        <input type="hidden" asp-for="Answers[i].ChoiceId" value="@choice.Id">
                        <input type="hidden" asp-for="Answers[i].Id">
                        <br>

                    }
                    i++;
                    num++;
                    <hr />
                }
            }
            <div class="form-group text-left">
                <input type="submit" value=" اتمام آزمون" class="btn btn-primary" />
            </div>
           
        </form>
    </div>
</div>



<script>

    document.getElementById('timer').innerHTML =
        0 + ":" + 05;
    startTimer();

    function startTimer() {
        var presentTime = document.getElementById('timer').innerHTML;
        var timeArray = presentTime.split(/[:]+/);
        var m = timeArray[0];
        var s = checkSecond((timeArray[1] - 1));
        if (s == 59) { m = m - 1 }



        if (m == 0 && s == 0) {

            $("#submit").click();
        }




        document.getElementById('timer').innerHTML =
            m + ":" + s;
        console.log(m)
        setTimeout(startTimer, 1000000);
    }

    function checkSecond(sec) {
        if (sec < 10 && sec >= 0) { sec = "0" + sec }; // add zero in front of numbers < 10
        if (sec < 0) { sec = "59" };
        return sec;
    }





</script>
