@model OnlineExam.Endpoint.WebUI.Models.Exams.TakeExamViewModel


<div>Time left = <span id="timer"></span></div>


<form asp-action="TakeExam">

    <input type="hidden" asp-for="@Model.ExamId" value="@Model.ExamId">

    @{int i = 0;
        @foreach (var item in Model.Questions)
        {

            <div>@item.Text</div>
            var choices = item.QuestionChoices.Select(c => c.Choice);

            @foreach (var choice in choices)
            {
                <Lable>  @choice.Text</Lable>
                <input type="hidden" asp-for="Answers[i].ChoiceId" value="@choice.Id">
                <input type="hidden" asp-for="Answers[i].Id">
                <input type="checkbox" asp-for="Answers[i].IsSelected">
                <br>
                i++;
            }
        }
    }
    <button type="submit" id="submit"></button>
</form>



<script>

    document.getElementById('timer').innerHTML =
    0 + ":" + 05;
    startTimer();

    function startTimer() {
        var presentTime = document.getElementById('timer').innerHTML;
        var timeArray = presentTime.split(/[:]+/);
        var m = timeArray[0];
        var s = checkSecond((timeArray[1] - 1));
        if (s == 59) { m = m - 1 }



        if (m == 0 && s==0) {
 
            $( "#submit" ).click();
        }




        document.getElementById('timer').innerHTML =
            m + ":" + s;
        console.log(m)
        setTimeout(startTimer, 1000);
    }

    function checkSecond(sec) {
        if (sec < 10 && sec >= 0) { sec = "0" + sec }; // add zero in front of numbers < 10
        if (sec < 0) { sec = "59" };
        return sec;
    }





</script>
