@model OnlineExam.Endpoint.WebUI.Models.Exams.TakeExamViewModel



    <form asp-action="TakeExam2">

        <input type="hidden" asp-for="@Model.ExamId" value="@Model.ExamId">

        @{int i = 0;
            @foreach (var item in Model.Questions)
            {

                <div>@item.Text</div>


                var choices = item.QuestionChoices.Select(c => c.Choice);

                @foreach (var choice in choices)
                {
                    <Lable>  @choice.Text</Lable>
                    <input type="hidden" asp-for="Answers[i].ChoiceId"   value="@choice.Id">
                    <input type="hidden" asp-for="Answers[i].Id">
                    <input type="checkbox" asp-for="Answers[i].IsSelected">
                    <br>
                    i++;
                }


            }
        }


        <input type="submit">
    </form>